<!-- <div id="tabcontent5" class="tabcontent">
    <Row>
      <Col>
        <p style={styles.success}>{this.state.updated}</p>
        <p style={styles.danger}>{this.state.deleted}</p>
        <Card>
          <CardHeader>THÔNG TIN MÀU</CardHeader>
          <CardBody>
            <CRow>
              <CCol sm="12" lg="12">
                <CRow>
                  <CCol sm="6" lg="8">
                    <CLabel>
                      <strong>Thay đổi màu</strong>
                    </CLabel>
                  </CCol>
                  {type == "0" || type == "1" ? (
                    ""
                  ) : (
                    <CCol sm="6" lg="4">
                      <CTooltip content="Xem chi tiết đơn hàng">
                        {isDisable ? (
                          <CButton
                            outline
                            color="info"
                            size="xm"
                            onClick={async (e) => {
                              this.setState({ isDisable: !isDisable });
                            }}
                          >
                            <CIcon name="cil-pencil" /> Cập nhật
                          </CButton>
                        ) : (
                          <CButton
                            outline
                            color="info"
                            size="sm"
                            onClick={async (e) => {
                              this.updateCompany();
                            }}
                          >
                            <CIcon name="cil-pencil" /> Xác nhận cập
                            nhật
                          </CButton>
                        )}
                      </CTooltip>
                    </CCol>
                  )}
                </CRow>
                <CRow>
                  <CCol sm="12" lg="12">
                    <div>
                      <CLabel>Màu chủ đạo</CLabel>
                      <Input
                        style={styles.searchInput}
                        onChange={(e) => {
                          this.setState({ mainColor: e.target.value });
                        }}
                        value={mainColor}
                        readOnly={isDisable}
                      />
                    </div>
                  </CCol>

                  <CCol sm="12" lg="12">
                    <CLabel>Màu chủ đạo 1</CLabel>
                    <Input
                      style={styles.searchInput}
                      value={sub_mainColor}
                      onChange={(e) => {
                        this.setState({
                          sub_mainColor: e.target.value,
                        });
                      }}
                      readOnly={isDisable}
                    />
                  </CCol>
                  <CCol sm="12" lg="12">
                    <CLabel>Màu chủ đạo 2</CLabel>
                    <Input
                      style={styles.searchInput}
                      value={sub2_mainColor}
                      onChange={(e) => {
                        this.setState({
                          sub2_mainColor: e.target.value,
                        });
                      }}
                      readOnly={isDisable}
                    />
                  </CCol>
                  <CCol sm="12" lg="12">
                    <div>
                      <CLabel>Màu chữ</CLabel>
                      <Input
                        style={styles.searchInput}
                        value={text_mainColor}
                        onChange={(e) => {
                          this.setState({
                            text_mainColor: e.target.value,
                          });
                        }}
                        readOnly={isDisable}
                      />
                    </div>
                  </CCol>

                  <CCol sm="12" lg="12">
                    <CLabel>Màu button </CLabel>
                    <Input
                      style={styles.searchInput}
                      value={button_color}
                      onChange={(e) => {
                        this.setState({ button_color: e.target.value });
                      }}
                      readOnly={isDisable}
                    />
                  </CCol>

                  <CCol sm="12" lg="12">
                    <div>
                      <CLabel>Màu báo thành công</CLabel>
                      <Input
                        style={styles.searchInput}
                        value={sucess_color}
                        onChange={(e) => {
                          this.setState({
                            sucess_color: e.target.value,
                          });
                        }}
                        readOnly={isDisable}
                      />
                    </div>
                  </CCol>

                  <CCol sm="12" lg="12">
                    <div>
                      <CLabel>Màu báo lỗi</CLabel>
                      <Input
                        style={styles.searchInput}
                        value={error_color}
                        onChange={(e) => {
                          this.setState({
                            error_color: e.target.value,
                          });
                        }}
                        readOnly={isDisable}
                      />
                    </div>
                  </CCol>
                </CRow>
              </CCol>
            </CRow>
          </CardBody>
        </Card>
      </Col>
      
    </Row>
  </div>  -->


  <!-- <div id="tabcontent2" class="tabcontent">
    <div id="renderInfoFuncWebId"></div> 
     {/* <div class="flex-a-center info_func mt-2">
     <span class="mr-2">Tình trạng dịch vụ : </span><span style={{color:'#e55353'}}>Đang sử dụng</span>
     </div>
     
     <div class="flex-a-center info_func mt-2">
     <span class="mr-2">Tổng số lần sử dụng : </span><span style={{color:'#e55353'}}>Đang cập nhật...</span>
     </div>
   
     <div class="flex-a-center info_func mt-2">
     <span class="mr-2">Tính năng dịch vụ : </span><span style={{color:'#e55353'}}>Soi da - Trang điểm</span>
     </div>
     <div class="flex-a-center info_func mt-2">
     <span class="mr-2">Ngày bắt đầu: </span><span style={{color:'#e55353'}}>Đang cập nhật...</span>
     </div>
     <div class="flex-a-center info_func mt-2">
     <span class="mr-2">Ngày hết hạn : </span><span style={{color:'#e55353'}}>Đang cập nhật...</span>
     </div> */}

     </div> -->