/* .c-sidebar-nav-title {
  background-color: #363636;
} */
.card .card-header .fa {
  font-weight: bold;
}

.c-sidebar ul li.c-sidebar-nav-title {
  color: #252525;
  /* color: #ffffff; */
  font-size: 13px;
}

.c-sidebar ul li.c-sidebar-nav-item .c-active {
  background-color: #321fdb;

  /* background-color: #2B1CB3; */
  /* color: #000000; */
  font-weight: 500;
}

.c-sidebar ul li.c-sidebar-nav-item .c-active .c-sidebar-nav-icon {
  /* color: #000000; */
  /* color: #011741; */
  font-weight: 500;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-body {
  background-color: #fff9fe;
}

.c-header {
  /* background-color: #3C4B64; */
  background-color: #fff9fe;
  box-shadow: 0px 4px 8px 5px rgb(0 0 0 / 10%);
}
.c-sidebar-nav.ps {
  box-shadow: 4px 0px 8px 5px rgb(0 0 0 / 10%);
}

.c-footer {
  background-color: #fff9fe;
}

.card .card-header {
  background-color: #fdfdff;
}

.modal
  .modal-dialog
  .modal-content
  .modal-body
  .carousel
  .carousel-indicators
  li {
  background-color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.block {
  display: block;
}
.none {
  display: none;
}
.fullScreenIframe {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tab .active {
  color: white !important;
  background-color: #768192 !important;
}
.tab .tablinks {
  padding: 16px 8px !important;
}
.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
  color: rgb(52, 71, 103) !important;
}
.c-sidebar .c-sidebar-brand {
  background: var(--main_web_admin);
  color: #fff !important;
  box-shadow: 0px 4px 8px 3px rgb(0 0 0 / 10%);
}
.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color: #fff !important;
  background: #321fdb;

  box-shadow: 0px 4px 8px 3px rgb(0 0 0 / 10%);
}
.c-sidebar-nav-icon {
  color: #39f !important;
}
.c-sidebar .c-sidebar-nav-dropdown.c-show {
  background: #fff;
}
.c-sidebar-nav-item:hover svg {
  color: #ffff !important;
}
.c-sidebar ul li.c-sidebar-nav-item .c-active {
  color: #ffff !important;
}
.c-sidebar ul li.c-sidebar-nav-item .c-active svg {
  color: #ffff !important;
}
.btn-primary:hover {
  background-color: rgb(23, 124, 226) !important;
  border-color: rgb(23, 124, 226);
}
.btn-primary {
  background-color: #39f !important;
  border-color: #39f;
}
