/* .c-sidebar-nav-title {
  background-color: #363636;
} */
.card .card-header .fa {
  font-weight: bold;
}

.c-sidebar ul li.c-sidebar-nav-title {
  /* color: #252525; */
  color: #ffffff;
  font-size: 13px;
}

.c-sidebar ul li.c-sidebar-nav-item .c-active {
  background-color: #2B1CB3;
  /* color: #000000; */
  font-weight: 500;
}

.c-sidebar ul li.c-sidebar-nav-item .c-active .c-sidebar-nav-icon {
  /* color: #000000; */
  /* color: #011741; */
  font-weight: 500;
}
.flex-center{
  display:flex;
  align-items: center;
  justify-content:center;
}

.c-body {
  background-color: #fff9fe;
}

.c-header {
  background-color: #3C4B64;
}

.c-footer {
  background-color: #fff9fe;
}

.card .card-header {
  background-color: #fdfdff;
}

.modal .modal-dialog .modal-content .modal-body .carousel .carousel-indicators li {
  background-color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.block{
  display:block
}
.none{
  display:none
}
.fullScreenIframe{
  position:fixed;
  z-index: 9999;
  top : 0;
  bottom : 0;
  left: 0;
  right: 0;
  
}
.bg_panel{
  
  padding:24px;

}
.css-19kzrtu{
  padding:0px !important;

}
.MuiListItemButton-root{
  padding:14px !important;
}
.Mui-selected{  
}
.title_ques{
  border: 1px solid gray
}
.table_ques{
  border: 1px solid gray

}
.c-sidebar-nav-icon{
  /* margin-right:6px */
}